<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SofiaCarRentalConnection"
         connectionString="data source=.;
                          initial catalog=SofiaCarRental_v2.2;
                          integrated security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>