<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnection" connectionString="data source=10.10.10.83;initial catalog=Northwind;persist security info=True;user id=sa;password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>